$color-primary: #3e7be2;
$color-secondary: #7d8db5;
$color-tertiary: #fff;
$color-highlight: #d1d9e1;
$color-placeholder: #999;
$color-dark: #000;
$color-white: #fff;
$color-bluelight: #f6f6f9;
$color-text: #272727;
$color-filler: #666666;
$color-caption: #a1a9b1;
$color-background: #f4f8fb;
$color-dropdown: #ecf4fa;
