@import "./colors.scss";
.circle {
	border-radius: 50%;
	background-color: $color-secondary;
	height: 12px;
	width: 12px;

	&.s {
		height: 8px;
		width: 8px;
	}

	&.m {
		height: 12px;
		width: 12px;
	}

	&.l {
		height: 15px;
		width: 15px;
	}
}
