@import "./../../assets/scss/main.scss";

.sidebar {
	width: 260px;
	padding-top: 30px;
	padding-left: 40px;
	border-right: 1px solid $color-highlight;

	.header {
		@extend .text-headline;
	}

	.nav {
		display: flex;
		flex-direction: column;
		position: sticky;
		top: 0;

		& .header {
			@extend .text-caption;
			text-transform: uppercase;
			color: $color-highlight;
			margin-top: 20px;
			margin-bottom: 5px;
		}

		& .item {
			@extend .text-body;
			margin-top: 10px;
			margin-bottom: 10px;
			cursor: pointer;
		}

		& .item:hover {
			border-right: 4px solid $color-primary;
			color: $color-primary;
		}
	}
}
