@import "./../../../assets/scss/main.scss";

$box-height: 40px;

.annotate {
	width: 100%;
	display: flex;
	flex-direction: column;
	background-color: $color-background;

	.toolbar {
		height: $box-height;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		padding: 0 20px;
		background-color: white;
		border-bottom: 1px solid $color-highlight;
		font-size: 16px;
		line-height: 16px;

		div {
			display: flex;
			flex-direction: row;
			align-items: center;
		}

		.close {
			cursor: pointer;
			svg {
				margin-right: 10px;
			}
		}
	}
}

.window {
	display: flex;
	flex-direction: row;
	height: 100%;
	width: 100%;

	.leftbar {
		width: 300px;
		height: 100%;
		background-color: $color-white;
		border-right: 1px solid $color-highlight;

		.selection {
			min-height: $box-height;
			background-color: $color-white;
			border-bottom: 1px solid $color-highlight;
			padding: 0 20px;
			display: flex;
			flex-direction: column;

			.type {
				height: $box-height;
				display: flex;
				flex-direction: row;
				align-items: center;
			}

			.options {
				width: 100%;
				display: flex;
				flex-direction: column;
			}

			.options .filtering {
				display: flex;
				flex-direction: column;
				height: 60px;
				margin-bottom: 13px;

				& > * {
					height: 30px;
				}

				.query {
					display: flex;
					flex-direction: row;
					align-items: center;
				}

				.parameters {
					display: flex;
					flex-direction: row;
					align-items: center;
				}
			}
		}
	}

	.mainview {
		flex-grow: 1;
	}

	.rightbar {
		display: flex;
		flex-direction: column;
		width: 300px;
		height: 100%;
		background-color: $color-white;
		border-left: 1px solid $color-highlight;
	}
}

.panel {
	padding: 0px 20px;
	font-size: 14px;
	margin: 13px 0px;
	box-sizing: border-box;

	.title {
		margin-bottom: 10px;
	}
}
