@import "../../../assets/scss/main.scss";

$boxes-innermargin: 20px;

.input-checkbox {
	display: flex;
	flex-direction: row;

	.input-box {
		@extend .input-base;
		@extend .input-hover-outline;
		@extend .pointer;
		margin-right: $boxes-innermargin;
		color: $color-placeholder;

		&.active {
			@extend .input-focus;
			color: $color-primary;
		}
	}

	&:last-child {
		margin-right: 0px;
	}
}
