@import "./../../../assets/scss/main.scss";

.item-parent {
	display: flex;
	flex-direction: column;
	align-items: center;
	border-top: 1px solid $color-highlight;
	width: 100%;
	user-select: none;

	.item-header {
		display: flex;
		flex-direction: row;
		align-items: center;
		width: 100%;
		height: $size-ul-parent-height;
		.name {
			cursor: pointer;
		}

		.label {
			color: $color-dark;
		}

		.caption {
			@extend .text-caption;
		}
	}

	&:last-child {
		border-bottom: 1px solid $color-highlight;
	}

	.item-body {
		overflow: hidden;
		width: 100%;
		border-radius: 3px;

		&[data-hidden="true"] {
			.item-child {
				height: 0px;
				opacity: 0;
			}
		}
	}
}

.item-child {
	@extend .text-body;
	width: 100%;
	height: $size-ul-child-height;
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: $color-dropdown;
	transition: height 0.5s, opacity 0.3s;

	.label {
		width: 300px;
	}

	table.metrics {
		flex-grow: 1;
		font-size: 12px;
		text-align: center;
		th {
			color: $color-caption;
		}
		td {
			color: $color-dark;
		}
	}
}
