@import "../../../assets/scss/main.scss";

.input-simple-container {
	position: relative;
}

.input-simple {
	@extend .input-base;
	@extend .min-width;
	@extend .input-hover-outline;
	@extend .input-focus;

	&[data-extended="true"] {
		border-radius: 3px 3px 0px 0px;
	}
}

.input-suggestions {
	@extend .min-width;
	position: absolute;
	background-color: $color-white;
	border-radius: 0px 0px 3px 3px;
	padding-bottom: 5px;
	background-color: $color-white;
	border: 1px solid $color-primary;
	border-top: none;
}

.input-errors-icon {
	cursor: pointer;
	position: absolute;
	right: calc(10% + 15px);
	top: 50%;
	transform: translate(0, -50%);
	width: 20px;
	height: 20px;
	background-color: $color-background;
	border: 1px solid $color-highlight;
	border-radius: 50%;
	text-align: center;
	font-size: 12px;
	line-height: 18px;
	font-weight: 600;
	color: $color-text;
	user-select: none;
}

.input-errors-msg {
	position: absolute;
	top: 100%;
	color: $color-text;
	font-size: 12px;
	padding-left: 12px;
	padding-top: 6px;
	padding-bottom: 6px;
	-webkit-animation: dropin 0.2s;
}

@keyframes dropin {
	0% {
		transform: translate(0, -10px);
	}
	100% {
		transform: translate(0, 0);
	}
}

.input-suggestion {
	@extend .input-base;
	@extend .input-hover-highlight;
	box-sizing: border-box;
	border: none;
	cursor: pointer;
	border-radius: 0px;
	display: flex;
}

.input-container {
	display: flex;
	flex-direction: column;
}
