@import "./../assets/scss/main.scss";

$box-height: 40px;

.annotator {
	width: 100%;
	display: flex;
	flex-direction: column;
	background-color: $color-background;

	.header {
		height: $box-height;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		padding: 0 0px;
		background-color: white;
		border-bottom: 1px solid $color-highlight;
		font-size: 16px;
		line-height: 16px;

		div {
			display: flex;
			flex-direction: row;
			align-items: center;
		}

		.close {
			width: 300px;
			cursor: pointer;
			padding: 0 20px;
			svg {
				margin-right: 10px;
			}
		}

		.short {
			width: 300px;
		}
	}

	.body {
		display: flex;
		flex-direction: row;
		height: 100%;
		width: 100%;

		.left {
			display: flex;
			flex-direction: row;
			height: 100%;
			overflow: hidden;

			.content {
				width: 300px;
				height: 100%;
				background-color: $color-white;
			}

			.border {
				width: 10px;
				height: 100%;
				background-color: $color-white;
				border-right: 1px solid $color-highlight;
				cursor: pointer;

				&:hover {
					border-right: 3px solid $color-highlight;
				}
			}
		}

		.center {
			height: 100%;
			flex-grow: 1;
		}

		.right {
			display: flex;
			flex-direction: row;
			height: 100%;
			overflow: hidden;

			.content {
				width: 300px;
				height: 100%;
				background-color: $color-white;
			}

			.border {
				width: 10px;
				height: 100%;
				background-color: $color-white;
				border-left: 1px solid $color-highlight;
				cursor: pointer;

				&:hover {
					border-left: 3px solid $color-highlight;
				}
			}
		}
		.selection {
			min-height: $box-height;
			background-color: $color-white;
			border-bottom: 1px solid $color-highlight;
			padding: 0 20px;
			display: flex;
			flex-direction: column;

			.type {
				height: $box-height;
				display: flex;
				flex-direction: row;
				align-items: center;
			}

			.options {
				width: 100%;
				display: flex;
				flex-direction: column;
			}

			.options .filtering {
				display: flex;
				flex-direction: column;
				height: 60px;
				margin-bottom: 13px;

				& > * {
					height: 30px;
				}

				.query {
					display: flex;
					flex-direction: row;
					align-items: center;
				}

				.parameters {
					display: flex;
					flex-direction: row;
					align-items: center;
				}
			}
		}

		.mainview {
			flex-grow: 1;
		}

		.rightbar {
			display: flex;
			flex-direction: column;
			width: 300px;
			height: 100%;
			background-color: $color-white;
			border-left: 1px solid $color-highlight;
		}
	}

	.panel {
		padding: 0px 20px;
		font-size: 14px;
		margin: 13px 0px;
		box-sizing: border-box;

		.title {
			margin-bottom: 10px;
		}
	}
}
