@import "./../../../assets/scss/main.scss";

.projects-header {
	display: flex;
	flex-direction: row;
	margin-top: 32px;

	h2 {
		margin-top: 0px;
		flex-grow: 1;
	}
}

.search {
	.settings {
		cursor: pointer;
		display: none;
		&:hover {
			color: $color-primary;
		}
	}

	.input-suggestion:hover .settings {
		display: block;
	}
	margin-top: 0.5rem;
	margin-bottom: 2rem;
}
